.DS_Store
target/
build/
src/main/webapp/node_modules/**
src/main/webapp/typings/**
.mvn/**
.idea/**
*.iml
src/main/resources/application.yml
src/main/webapp/app/**/*.js
src/main/webapp/app/**/*.js.map